{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam atque, adipisci illo recusandae officiis blanditiis, excepturi voluptates odio ducimus harum nihil, nisi asperiores odit tenetur. Nostrum nihil natus facilis quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione exercitationem consequatur animi hic tempora dolorem voluptas voluptatibus possimus quis, incidunt ducimus consectetur reiciendis eveniet corrupti cupiditate reprehenderit eius repellat molestias?</p>

</div>



{% endblock content %}